.chat{
    width: 69.94vw;
    background-color: #0b141a;
    height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.116);
}
.chats{
    height: 4rem;
    width: 70vw;
    background-color: #202c33;
    position: fixed;
    top: 0;
}
.chats1{
    background-color: #0b141a;
    padding-top: 10rem;
    overflow: auto;
    max-height: 78vh;

}
.chats2{
    background-color: #202c33;
    height: 4.2rem;
    width: 70vw;
    position: fixed;
    bottom: 0;
}
.addgroup{
    background-color: transparent;
    border: none;
    color: #85959f;
    font-size: 2.7rem;
    font-weight: 100;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
}