.groups1{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.133);
    position: relative;
    width: 25vw;
}
.grouppic{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.groupscard{
    height: 5rem;
    cursor: pointer;
}
.groupscard:hover{
    background-color: #202c33;
}
.groupscardactive{
    background-color: #2a3942;
    cursor: pointer;
}
.date{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}
